body {
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  margin: 40px auto;
  background: #0f1a2b; 
  padding: 30px;
  border-radius: 12px;
  color: #cbd5e1;
  box-shadow: 0px 0px 12px #00000050;
}

h2 {
  color: #94a3b8;
  margin-bottom: 20px;
  font-size: 28px;
}

.searchBox {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #475569;
  background: transparent;
  color: #e2e8f0;
  margin-bottom: 25px;
}

.searchBox:focus {
  outline: none;
  border-color: #64748b;
}

.tableBox {
  background: #0f172a;
  padding: 20px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 12px;
  color: #818cf8;
  font-size: 18px;
  border-bottom: 1px solid #475569;
}

td {
  padding: 14px;
  font-size: 17px;
  color: #e2e8f0;
  border-bottom: 1px solid #334155;
}

.name {
  font-weight: bold;
}

.role {
  font-weight: bold;
}

.green {
  color: rgb(0, 255, 128);
}

.yellow {
  color: gold;
}

.orange {
  color: orange;
}

tr:hover {
  background: #1e293b;
}
