.poster-box {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.4s ease;
}

.poster-box:hover .poster-img {
  transform: scale(1.1);
}

.poster-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
}
.poster-content-left{
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
}

.poster-content h2 ,.poster-content-left h2{
  font-size: 40px;
  font-weight: 700;
}

.poster-content p,
.poster-content small,.poster-content-left p,
.poster-content-left small {
  font-size: 18px;
  margin-top: 8px;
}
@media(max-width:768px){
  .poster-content h2 {
    font-size: 28px;
  }
}
